<%= render 'home/perfil_usuario/menu_usuario' %>

<div class="tab-content">
  <!-- <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div> -->
  <div id="datos_usuario" class="tab-pane fade in active">
    <%= render 'devise/registrations/edit_form' %>
  </div>
  <div id="caminos_usuario" class="tab-pane fade">
    <%= render template: 'caminos/index' %>
  </div>
  <div id="etapas_usuario" class="tab-pane fade">
    <%= render template: 'caminos/show' %>
  </div>

  <% unless current_usuario.super_user? %>
    <div id="eliminar_usuario" class="tab-pane fade">
      <h3><%= t('cancelar_cuenta') %></h3>
      <p class="lead">
        <%= button_to t('cancelar_cuenta'),
        registration_path(resource_name),
        data: { confirm: t('esta_seguro') },
        method: :delete,
        class: "btn btn-danger"
        %>
      </p>
    </div>
  <% end %>

</div>
