<div id="map" class="<%=controller_name%> <%= action_name %>"></div>
<script type="text/javascript">
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
  var origin      = new google.maps.LatLng(<%= @camino_comienzo.latitude %>, <%= @camino_comienzo.longitude %>);
  var destination = new google.maps.LatLng(<%= @camino_fin.latitude %>, <%= @camino_fin.longitude %>);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.WALKING,
      avoidHighways: true,
      avoidTolls: true,
  };

  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

var handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
    zoom: 17,
    scrollwheel: false,
  },
  internal: {id: 'map'}}, function(){
  directionsDisplay.setMap(handler.getMap());
});
</script>
