<% if false #content_for?(:notifica) %>
  <div class="modal fade" id="modal-notificacion" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id=""><%= t('notificacion') %></h4>
        </div>
        <div class="modal-body">
          <p class="notificacion-texto">
            <%= yield :notifica %>
            <%= notice %>
            <%= alert %>
          </p>
          <p class="notificacion-detalle"><%= yield :notifica_detalle %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cerrar') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Modal About -->
<% if usuario_signed_in? %>
  <div class="modal fade" id="about-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"><%= t('cerrar') %></span>
          </button>
          <h4 class="modal-title"><%= t('about') %></h4>
        </div>
        <div class="modal-body">
          <p><%= t('about_text') %></p>
          <p>
            <%= t('correo_contacto') %>&nbsp;
            <%= link_to('ddmontal@gmail.com','mailto:ddmontal@gmail.com') %>
          </p>
          <p>
            <%= t('about_info') %>
            <a href="http://www.caminosantiago.org/cpperegrino/comun/inicio.asp">
              <%= t('about_web') %>
            </a>
          <p>
            <%= t('intro_video') %>: <a href="https://vimeo.com/user34417257">Giancarlo Tatarella</a>
          </p>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-6">
              <% if current_usuario.admin? && current_usuario.alias == 'admin' %>
                <div class="text-left">
                    <%= link_to t('parametros'), parametros_path, class: 'btn btn-warning' %>
                </div>
              <% end %>
            </div>
            <div class="col-lg-6 text-right">
              <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cerrar') %></button>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>
